<div class="center">
  <h3>Страница добавления</h3><br>
    <div>
      <div class="item">{{item}}</div>
      <form [formGroup]="form" (ngSubmit)="createLocation()">
          <div class="form-group">
            <input 
              formControlName="firm"
              type="email" 
              class="form-control"   
              placeholder="Organization"
            >
          </div>
          <div class="form-group">
            <input 
              formControlName="location"
              type="email" 
              class="form-control"   
              placeholder="Location"
            >
          </div>
          <button 
              type="submit" 
              class="btn btn-primary"
          >search</button>
      </form>
    </div><br>
    <div >
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">enable</th>
                <th scope="col">required</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of requires; let i = index">
                <tr>
                  <th scope="row">{{ i + 1 }}</th>
                  <td><h4>{{ item.title }} </h4></td>
                  <td><input type="checkbox" (click)="changeIsChecked( item )"></td>
                  <td class="count">{{ item.count }}</td>
                </tr>
            </tbody>
          </table>

          <button 
            type="submit" 
            class="btn btn-primary"
            (click)="updateMany()"
          >Добавить</button><!-- (click)="updateSeveral()" -->
    </div>
</div>