.center {
    margin: 0 auto;
    max-width: 600px;
}

p {
    font-size: 1.5rem;

    &.error {
        color: red;
    }
}

h4 {
    color: #0a7755;
}

.count {
    color: #bb8707;
}

.item {
    font-size: 30px;
    color: #3f51b5;;
    margin: 10px;
}